[submodule "booking-web"]
	path = booking-web
	url = https://github.com/Filbert-Restu/booking-web.git
[submodule "booking-api"]
	path = booking-api
	url = https://github.com/Filbert-Restu/booking-api.git
